@import '@/main.scss';

.input {
  position: relative;
  min-width: rem-calc(315);

  padding: rem-calc(10);

  border: 1px solid $c-grey;
  border-radius: 10px;

  background-color: $c-white;
  color: $c-grey;
  outline: none;

  &:focus {
    border: 1px solid $c-border-focus;
  }
}

.inputError {
  border-color: $c-error;
  color: $c-error;
}

.inputSuccess {
  border-color: $c-success;
  color: $c-success;
}

.errorMessage {
  @include text-small;
  position: fixed;
  transform: translateY(35px);

  color: $c-error;
  padding-left: rem-calc(16);
}

.hidden {
  display: none;
}
