$primary-gradient: linear-gradient(90deg, rgba(112, 195, 255, 1) 0%, rgba(75, 101, 255, 1) 100%);
$secondary-gradient: linear-gradient(90deg, rgba(244, 249, 255, 1) 0%, rgba(224, 237, 251, 1) 100%);
$background-gradient: linear-gradient(90deg, rgba(244, 249, 255, 1) 0%, rgba(224, 237, 251, 1) 100%);
$primary-gradient-hover: linear-gradient(90deg, rgba(75, 101, 255, 1) 0%, rgba(112, 195, 255, 1) 100%);

$c-primary: #4A4E71;
$c-white: #fff;
$c-green: #27B274B2;
$c-red: #FF8080;
$c-grey: #6F91BC;
$c-border-focus: #151D51;
$c-error: #ED5F59;
$c-success: #5CD6C0;
$c-blue-gradient-start: rgba(112, 195, 255, 1);
$color-blue-gradient-end: rgba(75, 101, 255, 1);

$font-primary: 'Inter', sans-serif;
