@import '@/main.scss';

.passwordToggleButton {
  position: absolute;
  right: 10px;
  top: 50%;
  padding: 0;
  transform: translateY(-50%);

  background: none;
  border: none;

  cursor: pointer;
}

.input {
  width: 100%;
  min-width: rem-calc(315);

  padding: rem-calc(10);

  border: 1px solid $c-grey;
  border-radius: 10px;
  
  

  background: $c-white;
  color: $c-grey;
  outline: none;

  &:focus {
    border: 1px solid $c-border-focus;
  }
}

.inputError {
  border-color: $c-error;
  color: $c-error;
}

.inputSuccess {
  border-color: $c-success;
  color: $c-success;
}

.errorMessage {
  color: $c-error;
  margin-top: rem-calc(8);
  padding-left: rem-calc(8);
}

.hidden {
  display: none;
}

.icon {
  color: $c-grey;
}

.iconError {
  color: $c-error;
}

.iconSuccess {
  color: $c-success;
}
